<?xml version='1.0' encoding='utf-8'?>
<widget id="com.MicroSystem" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>
    Micro System ميكرو سيستم للبرمجيات
  </name>
  <description>
       ميكرو سيستم مصر للبرمجيات ونظم المعلومات 
  </description>
  <author email="hasangad.com@gmail.com" href="https://MicroSystemEgypt.com/">
    Gadency Team
  </author>
  <preference name="BackgroundColor" value="#ffffff"/>
  <preference name="fullscreen" value="true"/>
  <preference name="StatusBarOverlaysWebView" value="true"/>
<preference name="phonegap-version" value="cli-8.0.0"/>
  <preference name="pgb-builder-version"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="target-device" value="universal"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="true"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-installLocation" value="auto"/>
  <plugin name="cordova-plugin-device"/>
  <plugin name="cordova-plugin-inappbrowser"/>
  <plugin name="cordova-plugin-dialogs"/>
  <plugin name="cordova-plugin-network-information"/>
  <plugin name="cordova-plugin-statusbar"/>
  <plugin name="cordova-plugin-vibration"/>
  <preference name="StatusBarBackgroundColor" value="#ffffff"/>
  <icon src="www/icon.png"/>
  <icon gap:platform="android" src="www/icon.png"/>
  <icon gap:platform="ios" height="29" src="www/res/icon/ios/icon-29.png" width="29"/>
  <icon gap:platform="ios" height="40" src="www/res/icon/ios/icon-40.png" width="40"/>
  <icon gap:platform="ios" height="57" src="www/res/icon/ios/icon-57.png" width="57"/>
  <icon gap:platform="ios" height="58" src="www/res/icon/ios/icon-58.png" width="58"/>
  <icon gap:platform="ios" height="72" src="www/res/icon/ios/icon-72.png" width="72"/>
  <icon gap:platform="ios" height="76" src="www/res/icon/ios/icon-76.png" width="76"/>
  <icon gap:platform="ios" height="80" src="www/res/icon/ios/icon-80.png" width="80"/>
  <icon gap:platform="ios" height="87" src="www/res/icon/ios/icon-87.png" width="87"/>
  <icon gap:platform="ios" height="114" src="www/res/icon/ios/icon-57-2x.png" width="114"/>
  <icon gap:platform="ios" height="144" src="www/res/icon/ios/icon-72-2x.png" width="144"/>
  <icon gap:platform="ios" height="120" src="www/res/icon/ios/icon-120.png" width="120"/>
  <icon gap:platform="ios" height="76" src="www/res/icon/ios/icon-76.png" width="76"/>
  <icon gap:platform="ios" height="152" src="www/res/icon/ios/icon-152.png" width="152"/>
  <icon gap:platform="ios" height="167" src="www/res/icon/ios/icon-152.png" width="167"/>
  <icon gap:platform="ios" height="180" src="www/res/icon/ios/icon-152.png" width="180"/>
  <icon gap:platform="ios" height="167" src="www/res/icon/ios/icon-167.png" width="167"/>
  <icon gap:platform="ios" height="512" src="www/res/icon/ios/icon-512.png" width="512"/>
  <icon gap:platform="ios" height="1024" src="www/res/icon/ios/icon-1024.png" width="1024"/>
  <plugin name="cordova-plugin-whitelist"/>
  <platform name="android">
    <splash qualifier="ldpi" src="www/images/splash.png"/>
    <splash qualifier="mdpi" src="www/images/splash.png"/>
    <splash qualifier="hdpi" src="www/images/splash.png"/>
    <splash qualifier="xhdpi" src="www/images/splash.png"/>
    <splash qualifier="fr-xhdpi" src="www/images/splash.png"/>
    <splash qualifier="port-xxhdpi" src="www/images/splash.png"/>
    <splash qualifier="land-xxhdpi" src="www/images/splash.png"/>
    <preference name="SplashScreen" value="screen"/>
  </platform>
  <platform name="ios">
    <preference name="SplashScreenDelay" value="0"/>
    <preference name="FadeSplashScreenDuration" value="0"/>
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
    <splash src="www/res/screen/ios/Default@2x~universal~anyany.png"/>
    <plugin name="cordova-plugin-splashscreen"/>
  </platform>
  <access origin="*"/>
  <access origin="https://www.microsystemegypt.com*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
</widget>
